@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cache Demos</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>@Html.ActionLink("No Cache", "NoCache", "Home")</li>
            <li>@Html.ActionLink("Cache with Cache-Control Header", "CacheCacheControl", "Home")</li>
            <li>@Html.ActionLink("Cache with ETag", "CacheETag", "Home")</li>
            <li>@Html.ActionLink("CDN", "CDN", "Home")</li>
            <li>@Html.ActionLink("Session", "CacheSession", "Home") (@Html.ActionLink("Clear", "CacheSessionClear", "Home"))</li>
            <li>@Html.ActionLink("Redis", "CacheRedis", "Home") (@Html.ActionLink("Clear", "CacheRedisClear", "Home"))</li>
        </ul>
    </div>
</div>